* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header style */
  header {
    background-color: #1a1a1a;
    padding: 20px 0;
    color: white;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-menu a:hover {
    color: #00bcd4;
  }

/* Hero style */ 
.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('asset/bg_Hero.avif');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 0 20px;
  }
  
  .hero-content {
    max-width: 800px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;}
.about{
    padding: 80px 20px;
    background-color: #f4f4f4;
    color: #333;
}


    .moi-text {
    flex: 1;
}
      
.moi-text h2 {
     font-size: 2rem;
     margin-bottom: 20px;
}
      
.moi-text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: moi}